In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load, encoding="ISO-8859-1")

In [2]:
#Make sure there are no empty cells
df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [3]:
# Count number of players (since no empty cells we can count any column)
total_players = df['SN'].count()
print(f"There are {total_players} total purchases")
unique_players = df['SN'].unique()
print(f"There are {len(unique_players)} unique players")

There are 780 total purchases
There are 576 unique players

In [4]:
# Find number of unique items
numberof_total_purchases = len(df['SN']) 

unique_items = df['Item Name'].unique()
numberof_unique_items = len(unique_items)
print(f"There are {numberof_unique_items} unique items")

There are 179 unique items

In [5]:
#Calculate avg purchase price
avg_price = df['Price'].mean()
print(f"The average purchase price is ${round(avg_price, 2)}")
#Calculate total revenue
total_revenue = df['Price'].sum()
print(f"The total revenue is ${total_revenue}")

The average purchase price is $3.05
The total revenue is $2379.77

In [6]:
#create new data frames grouped by gender 
male_players = df.loc[df['Gender']=="Male"]
female_players = df.loc[df['Gender']=="Female"]
other_players = df.loc[df['Gender']=="Other / Non-Disclosed"]

unique_males = male_players['SN'].unique()
unique_females = female_players['SN'].unique()
unique_other = other_players['SN'].unique()

#Gender demographic info
num_males = len(unique_males)
num_females = len(unique_females)
num_other = len(unique_other)
num_ofunique_players = len(unique_players) 

percentage_male = round((num_males/num_ofunique_players*100.0), 2)
percentage_female = round((num_females/num_ofunique_players*100.0), 2)
percentage_other = round((num_other/num_ofunique_players*100.0), 2)

print(f"There are {len(unique_players)} unique players")
print(f"There are {num_males} ({percentage_male}%) male players")
print(f"There are {num_females} ({percentage_female}%) female players")
print(f"There are {num_other} ({percentage_other}%) other players")

There are 576 unique players
There are 484 (84.03%) male players
There are 81 (14.06%) female players
There are 11 (1.91%) other players

In [7]:
#Purchasing Analysis for Males
print(f"There were {num_males} purchases by males")
male_avg_price = male_players['Price'].mean()
print(f"The average purchase price for males is ${round(male_avg_price, 2)}")
male_purchase_sum = male_players['Price'].sum()
print(f"The total purchase value for males is ${male_purchase_sum}")

There were 484 purchases by males
The average purchase price for males is $3.02
The total purchase value for males is $1967.64

In [8]:
#Purchasing Analysis for Females
print(f"There were {num_females} purchases by females")
female_avg_price = female_players['Price'].mean()
print(f"The average purchase price for females is ${round(female_avg_price, 2)}")
female_purchase_sum = female_players['Price'].sum()
print(f"The total purchase value for females is ${female_purchase_sum}")

There were 81 purchases by females
The average purchase price for females is $3.2
The total purchase value for females is $361.94

In [9]:
#Purchasing Analysis for Others
print(f"There were {num_other} purchases by others")
other_avg_price = other_players['Price'].mean()
print(f"The average purchase price for others is ${round(other_avg_price, 2)}")
others_purchase_sum = other_players['Price'].sum()
print(f"The total purchase value for others is ${others_purchase_sum}")

There were 11 purchases by others
The average purchase price for others is $3.35
The total purchase value for others is $50.19

In [10]:
#Create bins based on age
bins = [0, 9, 14, 19, 24, 29, 34, 39, 44, 49]
#Label names for each bin
age_group_labels = ["Less than 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"]
#Cut data into 'age bins'
pd.cut(df["Age"], bins, labels=age_group_labels)

0             20-24
1             40-44
2             20-24
3             20-24
4             20-24
5             20-24
6             35-39
7             20-24
8             20-24
9             35-39
10            20-24
11            20-24
12            20-24
13            20-24
14            35-39
15            20-24
16            20-24
17            20-24
18            20-24
19            30-34
20            20-24
21            20-24
22            35-39
23            40-44
24            30-34
25            25-29
26            10-14
27     Less than 10
28            20-24
29            20-24
           ...
750           20-24
751           10-14
752           15-19
753           35-39
754           20-24
755           10-14
756           20-24
757           15-19
758           20-24
759           25-29
760           20-24
761           45-49
762           25-29
763           20-24
764           15-19
765           15-19
766           20-24
767    Less than 10
768           35-39
769           15-19
770           30-34
771           15-19
772           25-29
773           20-24
774           10-14
775           20-24
776           20-24
777           20-24
778    Less than 10
779           20-24
Name: Age, Length: 780, dtype: category
Categories (9, object): [Less than 10 < 10-14 < 15-19 < 20-24 ... 30-34 < 35-39 < 40-44 < 45-49]

In [11]:
# Create/add a new column that lists which "Age Group" player is in
df["Age Group"] = pd.cut(df["Age"], bins, labels=age_group_labels)

In [12]:
# Create a GroupBy object based upon Age Group"
age_group = df.groupby("Age Group")

# Find how many players fall into each 'Age bin'
num_age_purchases = age_group["SN"].count()

print("Summary of purchase count by age:")
print(f"The total number of purchases by age<10 is {num_age_purchases['Less than 10']}")
print(f"The total number of purchases by age 10-14 is {num_age_purchases['10-14']}")      
print(f"The total number of purchases by age 15-19 is {num_age_purchases['15-19']}")      
print(f"The total number of purchases by age 20-24 is {num_age_purchases['20-24']}")      
print(f"The total number of purchases by age 25-29 is {num_age_purchases['25-29']}")      
print(f"The total number of purchases by age 30-34 is {num_age_purchases['30-34']}")      
print(f"The total number of purchases by age 35-39 is {num_age_purchases['35-39']}")      
print(f"The total number of purchases by age 40-44 is {num_age_purchases['40-44']}")
print(f"The total number of purchases by age 45-49 is {num_age_purchases['45-49']}")      
print("---------------------------------------------------------------------------")

# Get the average of each 'Age bin'
average_purchase_by_age = age_group["Price"].mean()

print("Summary of average purchase price by age:")
print(f"The average purchase price for age<10 is ${average_purchase_by_age['Less than 10'].round(2)}")
print(f"The average purchase price for age 10-14 is ${average_purchase_by_age['10-14'].round(2)}")
print(f"The average purchase price for age 15-19 is ${average_purchase_by_age['15-19'].round(2)}")
print(f"The average purchase price for age 20-24 is ${average_purchase_by_age['20-24'].round(2)}")      
print(f"The average purchase price for age 25-29 is ${average_purchase_by_age['25-29'].round(2)}")      
print(f"The average purchase price for age 30-34 is ${average_purchase_by_age['30-34'].round(2)}")      
print(f"The average purchase price for age 35-39 is ${average_purchase_by_age['35-39'].round(2)}")      
print(f"The average purchase price for age 40-44 is ${average_purchase_by_age['40-44'].round(2)}")      
print(f"The average purchase price for age 45-49 is ${average_purchase_by_age['45-49'].round(2)}")
print("---------------------------------------------------------------------------")
      
# Total purchase value of each 'Age bin'
total_purchase_by_age = age_group["Price"].sum()

print("Summary of total purchase value by age:")
print(f" Total purchase value for less than 10 group is ${total_purchase_by_age['Less than 10'].round(2)}")
print(f" Total purchase value for 10-14 group is ${total_purchase_by_age['10-14'].round(2)}")
print(f" Total purchase value for 15-19 group is ${total_purchase_by_age['15-19'].round(2)}")
print(f" Total purchase value for 20-24 group is ${total_purchase_by_age['20-24'].round(2)}")      
print(f" Total purchase value for 25-29 group is ${total_purchase_by_age['25-29'].round(2)}")
print(f" Total purchase value for 30-34 group is ${total_purchase_by_age['30-34'].round(2)}")      
print(f" Total purchase value for 35-39 group is ${total_purchase_by_age['35-39'].round(2)}")      
print(f" Total purchase value for 40-44 group is ${total_purchase_by_age['40-44'].round(2)}")      
print(f" Total purchase value for 45-49 group is ${total_purchase_by_age['45-49'].round(2)}")
print("---------------------------------------------------------------------------")

Summary of purchase count by age:
The total number of purchases by age<10 is 23
The total number of purchases by age 10-14 is 28
The total number of purchases by age 15-19 is 136
The total number of purchases by age 20-24 is 365
The total number of purchases by age 25-29 is 101
The total number of purchases by age 30-34 is 73
The total number of purchases by age 35-39 is 41
The total number of purchases by age 40-44 is 12
The total number of purchases by age 45-49 is 1
---------------------------------------------------------------------------
Summary of average purchase price by age:
The average purchase price for age<10 is $3.35
The average purchase price for age 10-14 is $2.96
The average purchase price for age 15-19 is $3.04
The average purchase price for age 20-24 is $3.05
The average purchase price for age 25-29 is $2.9
The average purchase price for age 30-34 is $2.93
The average purchase price for age 35-39 is $3.6
The average purchase price for age 40-44 is $3.04
The average purchase price for age 45-49 is $1.7
---------------------------------------------------------------------------
Summary of total purchase value by age:
 Total purchase value for less than 10 group is $77.13
 Total purchase value for 10-14 group is $82.78
 Total purchase value for 15-19 group is $412.89
 Total purchase value for 20-24 group is $1114.06
 Total purchase value for 25-29 group is $293.0
 Total purchase value for 30-34 group is $214.0
 Total purchase value for 35-39 group is $147.67
 Total purchase value for 40-44 group is $36.54
 Total purchase value for 45-49 group is $1.7
---------------------------------------------------------------------------

In [13]:
# Create a GroupBy object based upon SN
SN_group = df.groupby("SN")

#Find total purchase value for each player
player_purchase_total = SN_group["Price"].sum()
pcount = SN_group['SN'].count()
average_purchase = SN_group["Price"].mean()

In [14]:
#Create dataframe of grouped player names
spending_df = pd.DataFrame({"Total Purchase Value": player_purchase_total, "Count": pcount, 
                            "Avg Purchase Price ($)": average_purchase.round(2)})

top_spenders = spending_df.sort_values("Total Purchase Value", ascending=False)

#Print info on top 5 spenders
print("Top 5 Spenders:")
top_spenders.head()

Top 5 Spenders:

             Total Purchase Value  Count  Avg Purchase Price ($)
SN
Lisosia93                   18.96      5                    3.79
Idastidru52                 15.45      4                    3.86
Chamjask73                  13.83      3                    4.61
Iral74                      13.62      4                    3.40
Iskadarya95                 13.10      3                    4.37

In [15]:
#Create a GroupBy object by item name
item_group = df.groupby("Item Name")

item_id = item_group["Item ID"].unique()

#purchase count
jcount = item_group["SN"].count()
#item price
item_price = item_group["Price"].unique()
#Find total purchase value for each player
each_purchase_total = item_group["Price"].sum()

In [16]:
#Create dataframe with dictionaries

popularity_df = pd.DataFrame({"Item ID": item_id, "Purchase Count": jcount,
                              "Item Price": item_price, "Total Purchase ($)": each_purchase_total})
#Sort by total purchase count
top_items = popularity_df.sort_values("Purchase Count", ascending=False)

print("Most Popular Items:")
top_items.head()

Most Popular Items:

,Item ID,Purchase Count,Item Price,Total Purchase ($)
Item Name,,,,
Final Critic,"[92, 101]",13,"[4.88, 4.19]",59.99
"Oathbreaker, Last Hope of the Breaking Storm",[178],12,[4.23],50.76
Persuasion,"[141, 132]",9,"[3.19, 3.33]",28.99
Nirvana,[82],9,[4.9],44.10
"Extraction, Quickblade Of Trembling Hands",[108],9,[3.53],31.77

In [17]:
#Sort by total purchase value
profitable_items = popularity_df.sort_values("Total Purchase ($)", ascending=False)

print("Most Profitable Items:")
profitable_items.head()

Most Profitable Items:

,Item ID,Purchase Count,Item Price,Total Purchase ($)
Item Name,,,,
Final Critic,"[92, 101]",13,"[4.88, 4.19]",59.99
"Oathbreaker, Last Hope of the Breaking Storm",[178],12,[4.23],50.76
Nirvana,[82],9,[4.9],44.10
Fiery Glass Crusader,[145],9,[4.58],41.22
Singed Scalpel,[103],8,[4.35],34.80

In [18]:
#Conclusions/Trends
print("Conclusions:")
#Conclusion 1
print("The majority of players are male (84.03%)")
#Conclusion 2
print("'Final Critic' was both the most popular and profitable item")
#Conclusion 3
print("Most of the players in the data set are 20-24 years old")

Conclusions:
The majority of players are male (84.03%)
'Final Critic' was both the most popular and profitable item
Most of the players in the data set are 20-24 years old